embedding_cache_0_6b/*
qdrant_storage/*
.DS_Store
qwen3-embedding-0.6b.gguf
__pycache__/*
__pycache__
.venv/*
instruction_templates/*
Modelfile*
*.gguf

embedding_cache_4b_Q4_K_M/
embedding_cache_4b_Q4_K_M/**
embedding_cache_0_6b/
embedding_cache_0_6b/**
